$primaryColor: #628cb6;
$primaryTextColor: #628cb6;
$secondaryColor:#b8b9b8;

$logoBgColor:#628cb6;
$topbarBgColor:#b8b9b8;
$topbarIconColor:#628cb6;
$topbarIconHoverBgColor:#628cb6;
$lightMenuitemActiveTextColor:#b8b9b8;
$darkMenuitemActiveTextColor:#b8b9b8;
$horizontalMenuitemActiveBgColor:#b8b9b8;
$horizontalMenuitemActiveTextColor:#628cb6;
$badgeBgColor:#b8b9b8;
$badgeTextColor:#628cb6;

@import '../../sass/layout/_layout';
