<div style="padding-left: 30px; padding-right: 30px;">
    <p-panel id="panelDomicilii" [formGroup]="this.form">
        <ng-template pTemplate="header">
            <span class="text-primary font-semibold text-xl"> {{ this.titlu }} event</span>
        </ng-template>

        <div class="pt-5">

            <div class="p-fluid p-formgrid formgrid grid">
                <div class="xl:col-4 lg:col-4 md:col-12 sm:col-12 col-12 px-5">
                    <div class="field">
                        <span class="p-float-label">
                            <input id="inputNumar" pInputText type="text" formControlName="content"
                                [attr.autocomplete]="'off'" class="ng-pristine" />
                            <label htmlFor="inputNumar">Content</label>
                        </span>
                        <small id="eroareNumarRequired" class="p-error"
                            *ngIf="this.form.get('content')?.hasError('required') && this.form.get('content')?.touched">Content
                            is required</small>
                    </div>
                </div>

                <div class="xl:col-4 lg:col-4 md:col-12 sm:col-12 col-12 px-5">
                    <div class="field">
                        <span class="p-float-label">
                            <span class="p-float-label">
                                <input id="inputNumar2" pInputText type="text" formControlName="title"
                                    [attr.autocomplete]="'off'" class="ng-pristine" />
                                <label htmlFor="inputNumar2">Title</label>
                            </span>
                            <small id="eroareNumarRequired" class="p-error"
                                *ngIf="this.form.get('title')?.hasError('required') && this.form.get('title')?.touched">Title
                                is required</small>
                        </span>
                    </div>
                </div>

                <div class="xl:col-4 lg:col-4 md:col-12 sm:col-12 col-12 px-5">
                    <div class="field">
                        <span class="p-float-label">
                            <input id="inputNumar2" pInputText type="text" formControlName="location"
                                [attr.autocomplete]="'off'" class="ng-pristine" />
                            <label htmlFor="inputNumar2">Location</label>
                        </span>
                        <small id="eroareNumarRequired" class="p-error"
                            *ngIf="this.form.get('location')?.hasError('required') && this.form.get('location')?.touched">Location
                            is required</small>
                    </div>
                </div>

                <div class="xl:col-4 lg:col-4 md:col-12 sm:col-12 col-12 px-5 pt-3">
                    <div class="field">
                        <span class="p-float-label">
                            <p-calendar id="date" dateFormat="dd.mm.yy" icon="fa fa-calendar"
                            [placeholder]="'ZZ.LL.AAAA'"formControlName="date"></p-calendar>
                            <label for="dataStart">Date of event</label>
                        </span>
                        <small id="eroareIdRoleRequired" class="p-error"
                            *ngIf="this.form.get('date')?.hasError('required')  && this.form.get('date')?.touched">Date of event is requied!</small>
                    </div>
                </div>
            </div>
        </div>

        <ng-template pTemplate="footer">
            <div >
                <p-button id="btnSalveaza" label="Salvează" [disabled]="!form.valid" (onClick)="salvare()"
                    icon="pi pi-save" styleClass="p-button p-button-primary"></p-button>
                <p-button id="btnAnuleaza" label="Anulează" (onClick)="anulare()" icon="pi pi-times"
                    styleClass="p-button p-button-danger" [style]="{ 'margin-left': '.5em' }"></p-button>
            </div>
        </ng-template>
    </p-panel>
</div>