<div style="padding-left: 30px; padding-right: 30px;">
    <p-panel id="panelDomicilii" [formGroup]="this.form">
        <ng-template pTemplate="header">
            <span class="text-primary font-semibold text-xl"> {{ this.titlu }} user</span>
        </ng-template>

        <div class="pt-5">

            <div class="p-fluid p-formgrid formgrid grid">
                <div class="xl:col-2 lg:col-2 md:col-12 sm:col-12 col-12 px-5">
                    <div class="field">
                        <span class="p-float-label">
                            <input id="inputNumar" pInputText type="text" formControlName="name"
                                [attr.autocomplete]="'off'" class="ng-pristine" />
                            <label htmlFor="inputNumar">Name</label>
                        </span>
                        <small id="eroareNumarRequired" class="p-error"
                            *ngIf="this.form.get('name')?.hasError('required') && this.form.get('name')?.touched">Name
                            is required</small>
                    </div>
                </div>

                <div class="xl:col-2 lg:col-2 md:col-12 sm:col-12 col-12 px-5" *ngIf="this.idEntitate == '0'">
                    <div class="field">
                        <span class="p-float-label">
                            <span class="p-float-label">
                                <input id="inputNumar2" pInputText type="text" formControlName="email"
                                    [attr.autocomplete]="'off'" class="ng-pristine" />
                                <label htmlFor="inputNumar2">Email</label>
                            </span>
                            <small id="eroareNumarRequired" class="p-error"
                                *ngIf="this.form.get('email')?.hasError('required') && this.form.get('email')?.touched">Email
                                is required</small>
                        </span>
                    </div>
                </div>

                <div class="xl:col-2 lg:col-2 md:col-12 sm:col-12 col-12 px-5" *ngIf="this.idEntitate == '0'">
                    <div class="field">
                        <span class="p-float-label">
                            <input id="inputNumar2" pInputText type="password" formControlName="password"
                                [attr.autocomplete]="'off'" class="ng-pristine" />
                            <label htmlFor="inputNumar2">Password</label>
                        </span>
                        <small id="eroareNumarRequired" class="p-error"
                            *ngIf="this.form.get('password')?.hasError('required') && this.form.get('password')?.touched">Password
                            is required</small>
                    </div>
                </div>

                <div class="xl:col-2 lg:col-2 md:col-12 sm:col-12 col-12 px-5">
                    <div class="field">
                        <span class="p-float-label">
                            <input id="inputNumar2" pInputText type="text" formControlName="phoneNumber"
                                [attr.autocomplete]="'off'" class="ng-pristine" />
                            <label htmlFor="inputNumar2">Phone Number</label>
                        </span>
                        <small id="eroareNumarRequired" class="p-error"
                            *ngIf="this.form.get('phoneNumber')?.hasError('required') && this.form.get('phoneNumber')?.touched">Phone
                            number is required</small>
                    </div>
                </div>

                <div class="xl:col-4 lg:col-4 md:col-12 sm:col-12 col-12 px-5" *ngIf="this.idEntitate == '0'" >
                    <div class="field">
                        <span class="p-float-label">
                            <p-dropdown [filter]="true" [filter]="true" [filter]="true" id="inputIdJudet"
                                formControlName="role" [required]="true" placeholder="Role" class="ng-pristine"
                                [options]="this.roles" optionValue="id" optionLabel="value" [showClear]="true"
                                [filter]="true" filterBy="value" [autoDisplayFirst]="false"></p-dropdown>
                            <label for="inputIdJudet">Roles</label>
                        </span>
                        <small id="eroareIdRoleRequired" class="p-error"
                            *ngIf="this.form.get('role')?.hasError('required')  && this.form.get('role')?.touched">Role is requied!</small>
                    </div>
                </div>
            </div>
        </div>

        <ng-template pTemplate="footer">
            <div *ngIf="modVizualizare === false">
                <p-button id="btnSalveaza" label="Salvează" [disabled]="!form.valid" (onClick)="salvare()"
                    icon="pi pi-save" styleClass="p-button p-button-primary"></p-button>
                <p-button id="btnAnuleaza" label="Anulează" (onClick)="anulare()" icon="pi pi-times"
                    styleClass="p-button p-button-danger" [style]="{ 'margin-left': '.5em' }"></p-button>
            </div>

            <div *ngIf="modVizualizare === true">
                <p-button id="btnInapoi" label="Înapoi" (onClick)="goBack()" icon="pi pi-arrow-left"
                    styleClass="p-button p-button-sm" [style]="{ 'margin-left': '.5em' }"></p-button>
            </div>
        </ng-template>
    </p-panel>
</div>